<h1>Cafe</h1>
<h3>一覧ページ</h3>

<h3>投稿を検索</h3>


<%= link_to "新規投稿へ", new_tweet_path %>
<div class="tweets-container">
<% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>


<%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索' %>
   <% Tag.all.each do |t| %>
        <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
    <% end %>
<% end %>

<%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
    <%= text_field_tag :tag %>
    <%= submit_tag 'タグを追加' %>
<% end %>

  <% @tweets.each do |t| %>
        <div class="tweet">
         <%= link_to t.user.name, user_path(t.user.id) %> 
         <%= t.user.email %>

         <%= image_tag t.image_url, size: "250x200" if t.image? %>

            <%= t.shop%>
            <%= t.place %>
            <%= t.price%>
            <%= t.detail%>
 <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
           <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
              <i class="fas fa-heart"></i><%= t.likes.count %>
           <% end %>
        <% else %>
           <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
              <i class="far fa-heart"></i><%= t.likes.count %>
           <% end %>
        <% end %>
    <% else %>
        <i class="far fa-heart"></i><%= t.likes.count %>
    <% end %>





         <%= link_to "詳細へ", tweet_path(t.id) %> 
         <%= link_to "編集する", edit_tweet_path(t.id) %> 
         <%= button_to "削除する", tweet_path(t.id), method: :delete %>
        </div>

 <% end %>
</div>
