<div class="body">
   <%= link_to new_tweet_path, class: "custom-button-v3" do %>
   <span>New post</span>
   <% end %>

    <% if user_signed_in? %>
      <%= link_to user_path(current_user.id), class: "custom-button-v3" do %>
         <span>My page</span>
      <% end %>
   <% end %>

   <div class="search-container">
      <form action="" class="search-box">
         <input type="text" class="search-input" name="search" id="search-input">
         <button type="submit" class="search-btn" aria-label="検索"></button>
      </form>
   </div>

      <div class="tagu">
            <% Tag.all.each do |t| %>
               <div class="tagu1">
                     <label><%= check_box :tag_ids, t.name %><span><%= t.name %></span></label>
               </div>
            <% end %>
            <div class="tagutuika">
               <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
                  <%= text_field_tag :tag %>
                  <%= submit_tag 'タグを追加' %>
               <% end %>

            </div>
      </div>



   <div class="tweets-container">

   <div class="toukou" style="--slide-count: <%= @tweets.count %>;">
      
      <% @tweets.each do |t| %>
         <div class="tweet">
         
         <div class="gazou">
               <%= link_to tweet_path(t.id), class: "slide-photo" do %>
                  <%= image_tag t.image_url, size: "400x400" if t.image? %>
               <% end %>
         </div>
         <%= t.shop %>
         <%= t.place %>
         
         <% if user_signed_in? %>
         
               <% if current_user.already_liked?(t) %>
               <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
                  <%# ↓ この行のclassに「liked-heart」を追加 %>
                  <i class="fas fa-heart liked-heart"></i><%= t.likes.count %>
               <% end %>
               <% else %>
               <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
               <i class="far fa-heart"></i><%= t.likes.count %>
               <% end %>
            <% end %>
         <% else %>
            <i class="far fa-heart"></i><%= t.likes.count %>
         <% end %>

         
         </div>
      <% end %>

      <% @tweets.each do |t| %>
         <div class="tweet">
         
            <div class="gazou">
               <%= link_to tweet_path(t.id), class: "slide-photo" do %>
                  <%= image_tag t.image_url, size: "400x400" if t.image? %>
               <% end %>
            </div>
         <%= t.shop %>
         <%= t.place %>
         
         <% if user_signed_in? %>
            <% if current_user.already_liked?(t) %>
               <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
               <i class="fas fa-heart"></i><%= t.likes.count %>
               <% end %>
            <% else %>
               <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
               <i class="far fa-heart"></i><%= t.likes.count %>
               <% end %>
            <% end %>
         <% else %>
            <i class="far fa-heart"></i><%= t.likes.count %>
         <% end %>

         
         </div>
      <% end %>

   </div>
   </div>
</div>
   