<!DOCTYPE html>
<html>

 <head>

 <title>Cafe</title>

 <meta name="viewport" content="width=device-width,initial-scale=1">

<%= csrf_meta_tags %>

 <%= csp_meta_tag %>



 <script src="https://kit.fontawesome.com/7683da1876.js" crossorigin="anonymous"></script>

 <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

 <%= javascript_importmap_tags %>
 
  </head>

<body>

<header>

 <h1>Cafe</h1>

 <div class="header-list">

<ul>
 <% if user_signed_in? %>

<li><%= button_to 'logout', destroy_user_session_path, method: :delete, class: "logout" %></li>

 <% else %>

<li><%= link_to "sign up", new_user_registration_path %></li>

<li><%= link_to "login", new_user_session_path %></li>

 <% end %>

</ul>
 </div>

</header>

<main>

 <%= yield %>
</main>

</body>





</html>